spring.profiles.active=prod
server.port=8090

# Couchbase Settings
spring.data.couchbase.auto-index=true
sliconf.couchbase.host-name=127.0.0.1
sliconf.couchbase.default-host-name=localhost
sliconf.couchbase.bucket-pass=<bucket-password>

# Mongo Settings
# Mongo Port default is 27017
sliconf.mongo.host-name=127.0.0.1
sliconf.mongo.password=<mongo-password>
sliconf.mongo.port=<mongo-port>
sliconf.mongo.username=<mongo-user>
sliconf.mongo.database=<mongo-dbname>

# Hazelcast Settings
# 224.2.2.3 is default multicast group
sliconf.hazelcast.multicast-group=224.2.2.3
sliconf.hazelcast.tcp-ip=127.0.0.1
sliconf.hazelcast.group-name=<group-name>
sliconf.hazelcast.group-pass=<group-pass>

# Mail Settings
sliconf.mail.username=<smtp-mail-username>
sliconf.mail.password=<smtp-mail-password>
sliconf.mail.from=<smtp-mail-from>
sliconf.mail.isTest=false
sliconf.mail.smtp.auth=true
sliconf.mail.smtp.host=<smtp-hostname>
sliconf.mail.smtp.port=<smtp-port>
sliconf.mail.smtp.starttls=true

sliconf.user.fullname=Guest